html {
  box-sizing: border-box;
}
*,
*:before,
a:after {
  box-sizing: inherit;
}

/**Globales**/

a {
  text-decoration: none;
  color: #000;
}

/**Header y Navegacion**/

.nombre-sitio {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nombre-sitio span {
  color: #037bc0;
}
.nav-principal {
  padding: 20px 0;
  display: flex;
}
.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
